<br />

<div class="booyah-box col-10 offset-1 text-center team">
	<h1>The Flixter Team Motto</h1>
	<div class="motto">
		<p>
			<i>“Teamwork is the ability to work together toward a common vision. The ability to direct individual accomplishment toward organizational objectives. It is the fuel that allows common people to attain uncommon results.”</i>
		</p>
			<p>
			 Andrew Carnegie, American Industrialist and philanthropist
			</p>
	</div>
</div>